#应用标识参数
VERSION="1.2.0"
DEB_NAME="office-item-management"
DESKTOP_NAME="oim.desktop"
ICON_TARGET_NAME="office-item-management.png"
ICON_SIZES="16x16 32x32 48x48 64x64 96x96 128x128 256x256 512x512"


#系统设置参数
#工作路径
WORK_DIR="$HOME/oim"
LOG="$WORK_DIR/oim.log"
METADATA_DIR="$WORK_DIR/data"
BACKUP_DIR="$WORK_DIR/backup"
ITEM_FILE="$METADATA_DIR/item"
EMPLOYEE_FILE="$METADATA_DIR/employee"
LIST_FILE="$METADATA_DIR/list"
ITEM_FILE_BACKUP="$BACKUP_DIR/item.backup"
EMPLOYEE_FILE_BACKUP="$BACKUP_DIR/employee.backup"
LIST_FILE_BACKUP="$BACKUP_DIR/list.backup"
#窗口大小
WIDTH=800
HEIGHT=600
# 安装路径
SYSTEM_BIN_DIR="/usr/local/bin"
SYSTEM_DESKTOP_DIR="/usr/share/applications"
SYSTEM_ICON_ROOT="/usr/share/icons/hicolor"
SYSTEM_CONFIG_DIR="/usr/local/etc/oim"


#文件配置参数
MAIN_PROG_SRC="./oim.sh"
LIB_FILE_SRC="./functions"
ICONS_SRC_DIR="./src/icons"
