[Desktop Entry]
Version=0.1.0
Name=oim
GenericName=office-item-management
Exec=/usr/local/bin/oim
Icon=office-item-management
Terminal=true
Type=Application
StartupNotify=false
