VERSION="0.1.1"
WORK_DIR="$HOME/oim"
LOG="$WORK_DIR/oim.log"
METADATA_DIR="$WORK_DIR/data"
BACKUP_DIR="$WORK_DIR/backup"
ITEM_FILE="$METADATA_DIR/item"
EMPLOYEE_FILE="$METADATA_DIR/employee"
LIST_FILE="$METADATA_DIR/list"
ITEM_FILE_BACKUP="$BACKUP_DIR/item.backup"
EMPLOYEE_FILE_BACKUP="$BACKUP_DIR/employee.backup"
LIST_FILE_BACKUP="$BACKUP_DIR/list.backup"

WIDTH=800
HEIGHT=600

