Package: {{DEB_NAME}}
Version: {{VERSION}}
Section: utils
Priority: optional
Architecture: {{ARCH}}
Maintainer: zhouxin <zhouxin312@qq.com>
Description: A simple shell script tool for office item management
  just for management.
Depends: bash,zenity,sed,gawk,coreutils
